:root {
    --primary-color: #ff0066;
    --secundary-color: #e60000;
    --bg-dark: #0f172a;
    --bg-darker: #0a0f1d;
    --text-color: #e2e8f0;
    --text-light: #94a3b8;
    --card-bg: #1e293b;
    --transition: all .3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: var(--bg-darker);
}

body {
    font-family: Poppins, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background: var(--bg-dark);
    overflow-x: hidden;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    padding: 1rem 2rem;
}

.nav-brand {
    font-size: 32px;
    font-weight: bolder;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgb(74, 222, 128 / 30%);
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    
}

.nav-list li a:hover {
    transition: var(--transition);
    color: var(--secundary-color);
}

.nav-list li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: bold;
}

.open-menu, .close-menu {
    display: none;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
}

.open-menu, .close-menu i {
    color: red;
    font-size: 32px;
}

/* HERO */

.hero {
    min-height: 100vh;
    display: flex;
    background: linear-gradient(135deg, var(--bg-darker) 0%, var(--bg-dark) 100%);
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.hero-context {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    padding: 0 2rem;
}

.hero-text {
    flex: 1;
    
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.highlight {
    font-size: 48px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgb(74, 222, 128 / 30);
    font-weight: bold;
}

.role {
    font-size: 24px;
    color: var(--text-light);
    margin-bottom: 1.5rem;
}

.about-btn {
    display: inline-flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 0.5rem;
    transition: all .3s ease;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
}

.about-btn:hover {
    box-shadow: 0 0 10px var(--secundary-color);
}


.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    box-shadow: 0 0 30px #4ade8033;
}

/* ABOUT */

.section-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--primary-color);
    text-decoration: underline;
}

.about-content p {
    margin-bottom: 1.5rem;
    color: var(--text-light);
    font-size: 1.1rem;
    line-height: 1.8;
    position: relative;
    padding: 0 1rem;
}

/* SKILLS */

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 2rem;
    min-height: 360px;
    margin: 3rem auto;
    padding: 1rem 0 2rem 0;
}

.skill-card {
    background: var(--card-bg);
    border-radius: 1rem;
    border: 1px solid rgba(222, 74, 74, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skill-card h3 {
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    text-align: center;
    position: relative;
}

.skill-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;
}

.skill-tag {
    background: #4ade801a;
    color: var(--text-light);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: .9rem;
    cursor: default;
}

/* EXPERIENCE */

.jobs {
    background: var(--bg-dark);
}

.timeline {
    max-width: 1200px;
    margin: 0 2rem;
    position: relative;
    border-left: 1px solid var(--secundary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timeline-item {
    margin-bottom: 3rem;
    position: relative;
    padding-left: 3rem;
}

.timeline-dot {
    position: absolute;
    left: -6px;
    width: 12px;
    height: 12px;
    background: var(--primary-color);
    border-radius: 50px;
    box-shadow: 0 0 10px var(--primary-color);
}

.timeline-content {
    background: var(--card-bg);
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(222, 74, 74, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    min-height: 170px;
}

.timeline-content h3 {
    font-size: 19px;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.period {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.timeline-text {
    font-size: 16px;
    margin: 0.75rem 0;
    padding-left: 1.5rem;
    position: relative;
    color: var(--text-light);
}

.timeline-content li:before {
    content: "->";
    color: var(--primary-color);
    position: absolute;
    left: 0;
}

/* CONTACT*/

.contact {
    background: var(--bg-darker);
    padding: 5rem 1rem;
    text-align: center;
}

.contact p {
    font-size: 16px;
    margin-bottom: 2rem;
    color: var(--text-light);
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-links a {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    background: var(--card-bg);
    border-radius: 0.5rem;
    border: 1px solid rgba(222, 74, 74, 0.1);
    text-decoration: none;
}

i {
    font-size: 20px;
    color: var(--primary-color);
}









@media screen and (max-width: 768px) {

    /* HEADER */

    .open-menu, .close-menu {
        display: block;
    }

    .nav {
        z-index: 1000;
        display: none;
        visibility: hidden;
    } 

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color: var(--bg-dark);
        padding: 2rem;
        bottom: 0;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
    }

    .close-menu {
        position: absolute;
        top: 0;
        right: 2rem;
        padding: 2rem;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
    }

    /* HERO */

    .hero-context {
        flex-direction: column-reverse;
        text-align: center;
        padding: 0 1rem;
        gap: 2rem;
    }

    .hero-context h1 {
        font-size: 40px;
    }

    .highlight {
        font-size: 40px;
    }

    .role {
        font-size: 20px;
    }

    .about-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: Arial;
    }

    /* SKILLS */

    .skills-grid {
        grid-template-columns: 1fr;
        padding: 1rem;
        max-width: 1200px;
    }

}

